@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
    color: #555;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 50em;
    padding: 0 1em 4em;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

h1,
h2,
strong {
    color: #333;
}

a {
    color: #e81c4f;
}

header {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
        url("./hershey_assets/hershey_bg.jpg") center top/cover no-repeat;
    line-height: 1.2;
    padding: 10vw 2em;
    text-align: center;
    width: 100vw;        /* fill the entire viewport width */
    margin-left: calc(-50vw + 50%);  /*undo body centering if needed*/
}

header p {
    color: white;
    font-weight: 500;
}

header h1 {
  color: white;
  font-size: 3.5em;
  font-weight: 700;
  font-variant: small-caps;
  font-style: italic;
}

header a {
  border: 1px solid #e81c4f;
  border-radius: 290486px;
  color: white;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
}